*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.palettes{
    background-color: #280004;
    background-color: #4C230A;
    background-color: #424B54;
    background-color: #432818;
    color: #CCC9A1;
    color: #F0FFCE;
    color: #EBCFB2;
    color: #BB9457;
    color: #FFE6A7;
    color: #AFCBFF;
    color: #F9FBF2;
}
body{
    background-color: #0E1C36;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    color: #D7F9FF;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.header{
    margin-top: 2rem;
    color: #D7F9FF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    width: 80%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
}
.title{
    display: inline-block;
}
.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0;
    width: 80%;
    max-width: 37rem;
}
.post{
    margin: 2rem 1rem 0 1rem;
    padding-bottom: 1rem;
}
.posts .post:not(:last-child){
    border-bottom: 1px solid #D7F9FF;
}
.post-title{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: #D7F9FF;
    font-size: 1.6rem;
}
.post-desc{
    font-family: 'DM Sans', sans-serif;
    font-style: italic;
    color: #6d8084;
    font-size: 1rem;
    margin-top: 0.3rem;
}
.publish-meta-data{
    margin-top: 0.5rem;
}
.post-publish-date, .post-publication{
    font-family: 'Poppins', sans-serif;
    color: #7e9295;
    font-style: italic;
    font-size: 0.8rem;
    display: inline-block;
    margin-right: 0.3rem;
}
.post-publish-date{
    color: #b1ced3;
}
.post-publication{
    font-size: 0.7rem;
}

footer{
    margin-bottom: 2rem;
}
.text1{
    font-size: 0.9rem;
    color: #a1bbc0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.text1 a{
    color: #a1bbc0;
}

@media screen and (max-width: 35em) {
    .header{
        font-size: 1.2rem;
    }
    .post-title{
        font-size: 1.25rem;
    }
    .post-desc{
        font-size: 0.8rem;
    }
    .post-publish-date{
        font-size: 0.65rem;
    }
    .post-publication{
        font-size: 0.55rem;
    }
}